<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>FORM LOGIN KKN</title>
        <link rel="stylesheet" type="text/css" href="login.css">
        
        
    <body class="login-page">
            
            
            <div class="loginbox">
                <img src="logo_avatar.png" class="avatar">
                <h1>Login KKN</h1>
                <form action="">

                    <p>Username</p>
                    <input type="text" name="" placeholder="Enter Your Username">
                    <p>Password</p>
                    <input type="password" name="" placeholder="Enter Your Password">
                    <input type="submit" name="" value="Login">
                    <a href="">Forget password?</a>
                    <a href="">Register?</a>
                </form>


            </div>
    </body>
    </head>
</html>